<div class="container-fluid bg-light" style="height: 100vh;">
    <div class="container-fluid h-100 d-flex flex-column align-items-center justify-content-center px-5 m-auto">
        <!-- barra di ricerca -->
        @if (authService.logged()) {
        <div class="d-flex flex-column align-items-center justify-content-center">
            <h1 class="text-secondary"></h1>
         </div>   
        }

        <app-searchbar
        [search]="search"/>
        
        <div class="container-fluid d-flex my-5 justify-content-center">
            <h2 class="text-primary">Categorie</h2>
            <div class="row">
                
            </div>
        </div>

    </div>
</div>