<div class="container-fluid bg-light" style="padding-top: 5em;">
    <div class="container-fluid h-100 d-flex flex-column align-items-center justify-content-center px-5 m-auto">
        <!-- barra di ricerca -->
        @if (authService.logged()) {
        <div class="d-flex flex-column align-items-center justify-content-center">
            <h1 class="text-secondary"></h1>
         </div>   
        }

        <div class="d-flex flex-column p-2 justify-content-center align-items-center mb-3" style="animation: fade-down 0.5s;">
            <h1 class="">Benvenuto in TechX</h1>
            <small class="text-muted mb-4">
                Il tuo hub tecnologico, in cui potrai vendere, cercare e comprare articoli
            </small> 
        </div>

            <app-searchbar
            [search]="search"
            class="w-75"/>
        
        <div class="container-fluid d-flex flex-column mt-5 justify-content-center align-content-center">
            <h2 class="d-flex p-3 justify-content-center align-items-center ">Categorie</h2>
            <div class="row row-cols-1 row-cols-sm-2 row-cols-md-4 g-4 p-2" style="animation: fade-up 0.5s;">
                    @for (color of cardColors; track $index) {
                        <app-category-button
                        [bgColor]="color"
                        [title]="categories[$index]"/>
                    }
            </div>
        </div>
    </div>
</div>