<div class="navbar navbar-expand-fluid bg-primary d-fixed-top">
        <a href="/home" class="navbar-brand ps-3 text-white">
            TechX
        </a>
    <div class="d-flex flex-row-reverse justify-content-end align-items-center pe-3">
        @if (authService.logged()){
            
            <button type="button" class="btn btn-primary text-white border-0 shadow-none rounded-pill px-2 ">Carica articolo</button>
            <button type="button" class="btn btn-primary text-white border-0 shadow-none rounded-circle mx-4 "><i class="bi bi-bell-fill"></i></button>
            <div class="btn-group">
                <button class="btn dropdown-toggle p-2 text-white border-0 shadow-none " data-bs-toggle="dropdown" type="button" aria-expanded="false">
                    <img 
                    #profileImage
                    [src]="" alt="Profile photo"
                    class="img-fluid img-thumbnail " style="border-radius: 50%; object-fit: contain; width: 2.5em; height: 2.5em;">
                </button>
                <ul class="dropdown-menu">
                    <li class="dropdown-item" (click)="this.router.navigateByUrl('profile/'+this.authService.currentUserCredential()?.uid)">
                        Profilo
                    </li>
                    <li class="dropdown-divider"></li>
                    <li class="dropdown-item" (click)="this.router.navigateByUrl('saved/'+this.authService.currentUserCredential()?.uid)">
                        Articoli preferiti
                    </li>
                    <li class="dropdown-item" (click)="this.router.navigateByUrl('chats/'+this.authService.currentUserCredential()?.uid)">
                        Messaggi
                    </li>
                    <li class="dropdown-item text-danger" (click)="this.authService.logout()">
                        Esci 
                    </li>
                </ul>
            </div>


        }@else {
        <button class="btn btn-outline-primary pe-4" (click)="open(content)">
	        Iscriviti - Accedi
        </button>
        }   
    </div>
</div>

<ng-template #content let-modal>
    <div class="modal-header">
        <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
    </div>
    <div class="modal-body">
        <div class="mb-3 d-flex flex-column justify-content-center align-items-center">
            <button class="btn border border-secondary text-secondary bg-light rounded-pill p-3 d-flex align-items-center gap-3"
            (click)="signInWithGoogle()">
                <img src="../assets/google-icon.png" alt="google photo" class="img-fluid" style="object-fit: contain; width: 2.5rem; height: 2.5rem;">
                <span>Accedi con google</span>
            </button> 

            <h4 class="text-secondary mt-3">Oppure</h4>
            <span class="text-secondary fs-6 mt-4">Accedi tramite <a href="/login" class="outline-none text-primary">email e password</a></span>
            <span class="text-secondary fs-6 mt-2">Non hai un account?  <a href="/register" class="outline-none text-primary">Registrati!</a></span>
        </div>
    </div>
</ng-template>  

