<div class="dropdown-center">
    @if ( category() ) {
        <button class="position-relative btn border border-0 bg-info rounded-pill dropdown-toggle pe-4" data-bs-toggle="dropdown" > {{ category() }}
            <i class="position-absolute top-50 end-0 translate-middle-y pe-2 bi bi-x-lg"
            (click)="reset()"></i>  </button>
    }@else {
        <button class="btn border border-primary bg-white rounded-pill dropdown-toggle" data-bs-toggle="dropdown" > Categoria </button>
    }
        <ul class="dropdown-menu">
            <li class="dropdown-item">
                <label for="typeahead-focus text-muted">Immetti la categoria:</label>
                    <input
                        id="typeahead-focus"
                        type="text"
                        class="form-control shadow-none rounded-pill"
                        [ngbTypeahead]="search"
                        (focus)="focus$.next($any($event).target.value)"
                        (click)="click$.next($any($event).target.value)"
                        #instance="ngbTypeahead"
                        (selectItem)="setCategory($event)"
                        [formControl]="text"
                        (keyup)="onKeyUp($event)"
                    />
            </li>
        </ul>
</div>