<div class="container-fluid d-flex justify-content-center align-items-center" style="padding-top: 6em;">
    <div class="d-flex flex-column justify-content-center align-items-center rounded-4 bg-white p-4 w-75">
        <!-- sezione immagini -->
        <div class="position-relative d-flex flex-column align-items-center justify-content-center border rounded-2 p-3 w-75">
            <!-- Input file nascosto -->
            <input 
            type="file"
            id="article-photos"
            accept=".jpeg,.jpg,.png,"
            class="d-none">

            <label for="article-photos" class="d-flex flex-column align-items-center cursor-pointer">
                <i class="bi bi-cloud-arrow-down-fill h2"></i>
                <span class="text-muted p-1">Inserisci delle foto che riguardano l'articolo</span>
            </label>
        </div>
        
        <!-- campi form -->
    </div>
</div>
