<div class="container-fluid d-flex flex-column" style="padding-top: 3em;">
    <!-- container per i filtri -->
    <div class="container-fluid d-flex flex-wrap justify-content-center align-items-center gap-3 p-5">
        <app-filter-button
        [label]="'Prezzo'"/>
        <app-filter-button
        [label]="'Categoria'"/>
        <app-filter-button
        [label]="'Ordine'"/>
        <button class="btn btn-primary rounded-pill border-0">Applica</button>
    </div>

    <!-- articoli-->
     <div class="row row-cols-1 row-cols-sm-2 row-cols-md-4 g-4 p-2">
        @defer () {
            @for (article of this.firestore.articles(); track $index) {
                <app-article
                [article]="article"
                (click)="this.router.navigateByUrl('article/'+article.id)"/>
            }@empty {
                <div class="container-fluid d-flex flex-column align-items-center justify-content-center">
                <span class="text-secondary fs-4 py-3">Nessun risultato trovato!</span>
                <span class="text-secondary">Possiamo proporti i seguenti articoli</span>
                <i class="bi bi-arrow-down-circle-fill text-primary h3"></i>
                </div>
            }
        }@loading (minimum 0.4s){
            <div class="container-fluid d-flex flex-column align-items-center justify-content-center">
                <div class="spinner-border text-primary" role="status">
                  </div>
            </div>
        } 

     </div>
</div>