<div class="container-fluid d-flex flex-column" style="padding-top: 3em;">
    <!-- container per i filtri -->
    <div class="container-fluid d-flex flex-wrap justify-content-center align-items-center gap-3 p-5">
            <div class="dropdown-center">
                <button class="btn border border-primary bg-white rounded-pill dropdown-toggle" data-bs-toggle="dropdown" > Prezzo </button>
                <ul class="dropdown-menu">
                    <li class="dropdown-item">
                        prova 
                    </li>
                </ul>
            </div>
    
            <app-order-filter
            [order]="order()"/>
    
            <app-category-filter
            [category]="category()"/>
    
            <button 
            class="btn btn-primary rounded-pill border-0"
            (click)="onFormSubmit()">Applica</button>
    </div>

    <!-- articoli-->
     <div class="row row-cols-1 row-cols-sm-2 row-cols-md-4 g-4 p-2">
        @defer () {
            @for (article of this.firestore.articles(); track $index) {
                @if (authService.logged()) {
                    @if (authService.currentUserCredential()?.preferList && authService.currentUserCredential()!.preferList.includes(article.id!) ) {
                        <app-article
                    [article]="article"
                    [isPrefered]="true"/>
                    }@else {
                        <app-article
                    [article]="article"
                    [isPrefered]="false"/>
                    }
                }@else {
                    <app-article
                    [article]="article"
                    [isPrefered]="false"/>
                }
            }@empty {
                <div class="container-fluid d-flex flex-column align-items-center justify-content-center">
                <span class="text-secondary fs-4 py-3">Nessun risultato trovato!</span>
                <span class="text-secondary">Possiamo proporti i seguenti articoli</span>
                <i class="bi bi-arrow-down-circle-fill text-primary h3"></i>
                </div>
            }
        }@loading (minimum 0.4s){
            <div class="container-fluid d-flex flex-column align-items-center justify-content-center">
                <div class="spinner-border text-primary" role="status">
                  </div>
            </div>
        } 
     </div>
</div>