<div class="container-fluid bg-light" style="height: 100vh;">
    <div class="container-fluid h-75 d-flex flex-column align-items-center justify-content-center px-5 m-auto">
        <div class="d-flex flex-column bg-white rounded-4 w-75 p-4">

            <div class="d-flex flex-column justify-content-center align-items-center mb-4">
                <h4 class="text-primary">Recupero password</h4>
                <p class="lead">Verrà mandata una mail di ripristino all'indirizzo che immetterai</p>
            </div>

            <div class="row mb-4 align-items-center">
                <div class="col-12 col-md-4 text-md-end">
                    <label for="email" class="col-form-label">Email</label>
                </div>
                <div class="col-12 col-md-6">
                    <input type="email" 
                    id="email"
                    [formControl]="email"
                    class="form-control rounded-pill shadow-none"
                    aria-describedby="email">
                </div>
                <div class="col-12 col-md-8 offset-md-4">
                    @if (email.invalid && (email.touched || email.dirty)){
                        @if (email.errors?.['required']) {
                            <span class="form-text text-danger">
                                Inserisci una email
                            </span>
                        }@else if (email.errors?.['email']){
                            <span class="form-text text-danger">
                                L'email non è corretta
                            </span>
                        }
                    }
                </div>
            </div>

            <div class="row">
                <div class="col-12 d-flex justify-content-center">
                    <button type="submit" class="btn btn-primary rounded-pill px-5 py-2 shadow-none"
                    (click)="onSubmit($event)">Invia mail</button>
                </div>
            </div>


        </div>
    </div>
</div>

<ng-template #content let-modal>
    <div class="modal-header">
        <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
    </div>
    <div class="modal-body">
        <div class="mb-3 d-flex flex-column justify-content-center align-items-center">
            <span class="text-secondary fs-4">Email di reset inviata!</span>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-outline-secondary" (click)="modal.close('Save click');router.navigateByUrl ('login')">Torna al login</button>
    </div>
</ng-template>  
